<div class="row justify-content-center">
    <div class="col-xl-12">
        <div class="card m-b-30">
            <div class="card-body">
                <h2 class="mt-0 header-title mb-4 " style="font-size:25px">CATEGORY</h2>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                             
                                <th scope="col">name</th>

                                <th scope="col">Percentage</th>
              





                                <th scope="col" colspan="2">Actions</th>

                            </tr>
                        </thead>
                        {{#each categoryoffer}}

                        <tbody>



                            <tr>
                                <td>{{inc @index}}</td>
                                {{!-- <td>{{this._id}}</td> --}}

                               
                                <td>{{this.name}}</td>
                                <td>{{this.Percentage}}</td>
                         
                                  <td>
                                    <div>
                                        <a href="/admin/deleteoffer/{{this._id}}" class="btn btn-danger ">Delete</a>
                                    </div>
                                </td>

                                

                            </tr>


                        </tbody>
                        {{/each}}
                    </table>
                </div>







            </div>
        </div>
    </div>

</div>
<!-- END ROW -->