<div class="row justify-content-center">
    <div class="col-xl-12">
        <div class="card m-b-30">
            <div class="card-body">
                <h2 class="mt-0 header-title mb-4 " style="font-size:25px">Wallet History</h2>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Date</th>
                                <th scope="col">Order Id</th>

                                
                                <th scope="col">Wallet Amount</th>
                                <th scope="col">Balance Payed Amount</th>
                                <th scope="col">Order Amount</th>
                                <th scope="col">Payment Method</th>

                                <th scope="col" colspan="2">Status</th>

                            </tr>
                        </thead>
                        
                        {{#each wallet}}

                        <tbody>



                            <tr>
                                <td>{{inc @index}}</td>
                                {{!-- <td>{{this._id}}</td> --}}
                                <td>{{this.orderdate}}</td>
                                <td>{{this.orderId}}</td>
                               
                                <td>{{this.walletamount}}</td>
                                <td>{{this.balancepaymentamount}}</td>
                                <td>{{this.orderamount}}</td>
                                <td>{{this.paymentmethod}}</td>
                                <td>{{this.status}}</td>

                               
                                  

                                </td>

                            </tr>


                        </tbody>
                        {{/each}}
                    </table>
                </div>







            </div>
        </div>
    </div>
    <script>
         function deleteProduct(orderId, proId) {
                    console.log("delete from order");
                    $.ajax({
                        url: "/delete-orderproduct",
                        data: {
                        order: orderId,
                            product: proId,
                        },
                        method: "post",
                        success: (response) => {
                            if (response.removed) {
                                alert("Product Removed from cart");
                                location.reload();
                            }
                        },
                    });
                }

    </script>

</div>
<!-- END ROW -->