<!-- START HEADER AREA -->
<header class="header-area header-wrapper">
    <!-- header-top-bar -->

    <!-- header-middle-area -->
    <div id="sticky-header" class="header-middle-area plr-185">
        <div class="container-fluid">
            <div class="full-width-mega-dropdown">

            </div>
        </div>
    </div>
</header>
<!-- END HEADER AREA -->




<!-- BREADCRUMBS SETCTION END -->

<!-- Start page content -->
<section id="page-content" class="page-wrapper section">

    <!-- SHOP SECTION START -->
    <div class="shop-section mb-80">
        <div class="container">
            <div class="row">

                <div class="col-lg-10">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- shopping-cart start -->

                        <!-- wishlist start -->
                        <div class="tab-pane active" id="wishlist">
                            <div class="wishlist-content">
                                <form action="#">
                                    <div class="table-content table-responsive mb-50">
                                        <table class="text-center">
                                            <thead>
                                                <tr>
                                                    <th class="product-thumbnail">product</th>


                                                    <th class="product-stock">Price</th>

                                                    <th class="product-remove">remove</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each prolist}}
                                                <tr>
                                                    <td class="product-thumbnail">
                                                        <div class="pro-thumbnail-img">
                                                            <img src="/product-images/{{this.image.[0]}}" alt="">
                                                        </div>
                                                        <div class="pro-thumbnail-info text-left">
                                                            <h6 class="product-title-2">
                                                                <a href="#">{{this.product.[0]}}</a>
                                                            </h6>
                                                            <p>Brand: {{this.brand.[0]}}</p>
                                                            <p>Category: {{this.category.[0]}}</p>

                                                        </div>
                                                    </td>
                                                    <td class="product-price">${{this.price.[0]}}</td>

                                                    <td>
                                                        <button
                                                            onclick="deletewishlistProduct('{{this._id}}','{{this.proId.[0]}}')"
                                                            class="btn btn-danger btn-md">Remove</button>
                                                    </td>



                                                </tr>
                                                {{/each}}

                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- wishlist end -->


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SHOP SECTION END -->

</section>
<!-- End page content -->

<!-- START FOOTER AREA -->
<footer id="footer" class="footer-area section">
    <div class="footer-top">
        <div class="container-fluid">
            <div class="plr-185">
                <div class="footer-top-inner gray-bg">
                    <div class="row " style="text-align: center">
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <div class="single-footer footer-about">
                                <div>
                                    <h1> <a style="color: black " class="font-size">
                                            Croma'
                                        </a></h1>

                                </div>
                                <div class="footer-brief">
                                    <p> multinational technology company which focuses on e-commerce, cloud computing,
                                        digital streaming, and artificial intelligence. It has been referred to as "one
                                        of the most influential economic and cultural forces in the world",[5] and is
                                        one of the world's most valuable brands.[6] It is one of the Big Five American
                                        information technology companies, alongside Alphabet, Apple, Meta, and
                                        Microsoft.

                                        Amazon was founded by sherooq</p>
                                </div>
                                <ul class="footer-social">
                                    <li>
                                        <a class="facebook" href="" title="Facebook"><i
                                                class="zmdi zmdi-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a class="google-plus" href="" title="Google Plus"><i
                                                class="zmdi zmdi-google-plus"></i></a>
                                    </li>
                                    <li>
                                        <a class="twitter" href="" title="Twitter"><i class="zmdi zmdi-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a class="rss" href="" title="RSS"><i class="zmdi zmdi-rss"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 d-block d-xl-block d-lg-none d-md-none">
                            <div class="single-footer">
                                <h4 class="footer-title border-left">Shipping</h4>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>New Products</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>Discount
                                                Products</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>Best Sell
                                                Products</span></a>
                                    </li>


                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>Special
                                                Products</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <div class="single-footer">
                                <h4 class="footer-title border-left">my account</h4>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="my-account.html"><i class="zmdi zmdi-circle"></i><span>My
                                                Account</span></a>
                                    </li>
                                    <li>
                                        <a href="wishlist.html"><i class="zmdi zmdi-circle"></i><span>My
                                                Wishlist</span></a>
                                    </li>
                                    <li>
                                        <a href="cart.html"><i class="zmdi zmdi-circle"></i><span>My Cart</span></a>
                                    </li>
                                    <li>
                                        <a href="login.html"><i class="zmdi zmdi-circle"></i><span>Sign
                                                In</span></a>
                                    </li>
                                    <li>
                                        <a href="login.html"><i
                                                class="zmdi zmdi-circle"></i><span>Registration</span></a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--style-customizer end -->
    </div>
</footer>


<script>
  

</script>
<!-- END FOOTER AREA -->